* {margin:0; padding:0;}

html {width:100%; height:100%; background:#000;}

body { 	 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:100%; 
	color:#757070;
	min-width:990px;
	background:url(../../images/tail-top.gif) 0 0 repeat-x #e2e2e2;
}

/* buttons */
button.button, a.button {display:inline-block;height:32px;color:#343434;font:bold 12px Tahoma,Helvetica,sans-serif;cursor:pointer;position:relative;left:5px;text-shadow:1px 1px 0px rgba(255,255,255,0.5);text-decoration:none;margin:0 5px 0 8px;padding-left:0px;vertical-align:middle;background:url("../../images/buttons.png") top right no-repeat;white-space:nowrap;border:none;overflow:visible;}
a.button {margin-left:6px;}
button.button  span, a.button span {float:left;margin:0 13px 0 -10px;padding-left:15px;line-height:32px;height:32px;position:relative;background:url("../../images/buttons.png") top left no-repeat;overflow:visible;}
button.button:hover, a.button:hover {background-position:100% -216px;}
button.button:hover span, a.button:hover span {background-position:0 -216px;}
button.button.small, a.button.small {height:22px;font:bold 11px Arial,Helvetica,sans-serif;background-position:100% -128px;}
button.button.small span, a.button.small span {line-height:22px;height:22px;background-position:0 -128px;}
button.button.small:hover, a.button.small:hover {background-position:100% -344px;}
button.button.small:hover span, a.button.small:hover span {background-position:0 -344px;}
button.button.green, button.button.red, button.button.blue, a.button.green, a.button.red, a.button.blue {color:#fff;text-shadow:0 1px 0px rgba(0,0,0,0.5);background-position:100% -32px;}
button.button.green span, a.button.green span {background-position:0 -32px;}
button.button.green:hover, a.button.green:hover {background-position:100% -248px;}
button.button.green:hover span, a.button.green:hover span {background-position:0 -248px;}
button.button.green.small, a.button.green.small {background-position:100% -150px;}
button.button.green.small span, a.button.green.small span {background-position:0 -150px;}
button.button.green.small:hover, a.button.green.small:hover {background-position:100% -366px;}
button.button.green.small:hover span, a.button.green.small:hover span {background-position:0 -366px;}
button.button.red, a.button.red {background-position:100% -64px;}
button.button.red span, a.button.red span {background-position:0 -64px;}
button.button.red:hover, a.button.red:hover {background-position:100% -280px;}
button.button.red:hover span, a.button.red:hover span {background-position:0 -280px;}
button.button.red.small, a.button.red.small {background-position:100% -172px;}
button.button.red.small span, a.button.red.small span {background-position:0 -172px;}
button.button.red.small:hover, a.button.red.small:hover {background-position:100% -388px;}
button.button.red.small:hover span, a.button.red.small:hover span {background-position:0 -388px;}
button.button.blue, a.button.blue {background-position:100% -96px;}
button.button.blue span, a.button.blue span {background-position:0 -96px;}
button.button.blue:hover, a.button.blue:hover {background-position:100% -312px;}
button.button.blue:hover span, a.button.blue:hover span {background-position:0 -312px;}
button.button.blue.small, a.button.blue.small {background-position:100% -194px;}
button.button.blue.small span, a.button.blue.small span {background-position:0 -194px;}
button.button.blue.small:hover, a.button.blue.small:hover {background-position:100% -410px;}
button.button.blue.small:hover span, a.button.blue.small:hover span {background-position:0 -410px;}

.button, a.button {display:inline-block;height:32px;color:#343434;font:bold 12px Tahoma,Helvetica,sans-serif;cursor:pointer;position:relative;left:5px;text-shadow:1px 1px 0px rgba(255,255,255,0.5);text-decoration:none;margin:0 5px 0 8px;padding-left:0px;vertical-align:middle;background:url("../../images/buttons.png") top right no-repeat;white-space:nowrap;border:none;overflow:visible;}
.button.green, .button.red, .button.blue, a.button.green, a.button.red, a.button.blue {color:#fff;text-shadow:0 1px 0px rgba(0,0,0,0.5);background-position:100% -32px;}
.button.green span, a.button.green span {background-position:0 -32px;}
.button.green:hover, a.button.green:hover {background-position:100% -248px;}
.button.green:hover span, a.button.green:hover span {background-position:0 -248px;}
.button.green.small, a.button.green.small {background-position:100% -150px;}
.button.green.small span, a.button.green.small span {background-position:0 -150px;}
.button.green.small:hover, a.button.green.small:hover {background-position:100% -366px;}
.button.green.small:hover span, a.button.green.small:hover span {background-position:0 -366px;}

/* firefox hack */
@-moz-document url-prefix() {
	button::-moz-focus-outer, ::-moz-focus-inner {border:none !important;outline: none !important;}
	button.button {margin-left:4px;}
	button.button  span {margin:0 11px 0 -10px;}
}

select
{
    height: 20px;
    width: 283px;
}

tt
{
    font: bold 12px Tahoma,Helvetica,sans-serif !important;
    height: 22px !important;
    margin: -2px 0 0 -8px !important;
    width: 70px;
    padding-top: 10px;
}

#divFaleHome
{
    height: 360px;
    width: 250px;
    float: left;
    padding: 0 35px 0 0;
}

#divFaleHome div.col-2.maxheight 
{
    width: 250px !important;
}

b span {color:Red;}

div.error 
{
    color:Red;
}

.bg {width:100%;}

.endereco
{
    height:40px;
    width:900px;
}

.main {
	width:990px; 	
	padding:0;
	margin:0 auto;
	font-size:0.75em;
	line-height:1.75em;
}

a.lnkLogin, input.lnkLogin
{
    cursor:pointer;
    cursor:hand;
    font-size: 10px;
    text-decoration: underline;
    width: 147px;
    color:#fff;
}

dl.duvidas dt.duvidas {padding: 15px 0;}    

div.bottom form#form-Login label.error{width:0px;float:right}

.divErroLogin{width:187px;float:left;top:-7px;height:49px;margin: 6px 0 0 -17px !important; /*width:445px;float:left;height:30px;margin: 6px 0 0 217px !important;*/}
.divTopo{background: #000;height: 82px;position: absolute;top: 0;width: 100%;}
.formLogin{position: absolute;right: 222px;width:1000px;text-align:right;padding-top: 11px;}
.txtLogin{height: 16px;background-color:#fff !important; -moz-border-radius: 5px 5px 5px 5px;}
.btnLogin{background-color:#ccc !important;height: 25px;width: 75px !important; -moz-border-radius: 5px 5px 5px 5px;}
.btnLogin:hover{background-color:#7c7c7c !important;color:#fff !important ;height: 25px;width: 75px !important; -moz-border-radius: 5px 5px 5px 5px;}

img {border:0; vertical-align:top; text-align:left;}

a {color:#db301e; outline:none;cursor: pointer;}
a:hover {text-decoration:none;}

object {outline:none;}
fieldset {border:0;}

fieldset.cadastro {border:0;width:617px;}

ul, ol {list-style:none;}

table, table td {padding:0; border:none; border-collapse:collapse;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}
.column-1, .column-2, .column-3 {float:left;}  

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}

.container {width:100%;}

p {margin-bottom:16px;}
.p1 {margin-bottom:5px;}
.p2 {margin-bottom:12px;}
.p3 {margin-bottom:25px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}
.letter2 {letter-spacing:-2px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#595858;}
/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:60px;}
.spacing2 {margin-right:50px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 12px 34px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:40px;}

.img-indent-bot {margin-bottom:23px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.img-box {float:left; margin-bottom:20px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 12px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}	

.border {border:1px solid #110c11;}
.border2 {border:2px solid #cdc2b2;}

.buttons a:hover {cursor:pointer;}

.menu li a,
.sub-menu li a,
.button,
.link-top1, 
#footer a,
.logo a {text-decoration:none;}	

/*********************************header*************************************/
#flash {height:142px; width:100%; overflow:hidden;    padding-top: 8px;}

/*********************************content*************************************/
#content {width:100%;}

.content-tail-top {width:100%; padding: 0 10px 0 30px; background:url(../../images/tail-content-top.gif) 0 0 repeat-x #fff;}
.content-tail-left {padding-left:5px; background:url(../../images/content-tail-left.png) 0 0 repeat-y;}
.content-tail-right {padding-right:5px; background:url(../../images/content-tail-right.png) right 0 repeat-y;}

#content .boxes .padding {padding:8px 10px 40px;}

.box {width:100%;}
.box .tail-top {background:url(../../images/box-tail.gif) 0 0 repeat-x #fff;}
.box .tail-right {background:url(../../images/box-tail.gif) right 0 repeat-y;}
.box .tail-bot {background:url(../../images/box-tail.gif) 0 bottom repeat-x;}
.box .tail-left {background:url(../../images/box-tail.gif) 0 0 repeat-y;}
.box .corner-top-left {background:url(../../images/box-corner-top-left.gif) 0 0 no-repeat;}
.box .corner-top-right {background:url(../../images/box-corner-top-right.gif) right 0 no-repeat;}
.box .corner-bot-right {background:url(../../images/box-corner-bot-right.gif) right bottom no-repeat;}
.box .corner-bot-left {width:100%; background:url(../../images/box-corner-bot-left.gif) 0 bottom no-repeat;}
.padding-box {padding:25px 20px 33px 20px;}

.box1 {width:100%;}
.box1 .tail-top {background:url(../../images/box1-tail-top.gif) 0 0 repeat-x #f6f6f6;}
.box1 .tail-right {background:url(../../images/box1-tail.gif) right 0 repeat-y;}
.box1 .tail-bot {background:url(../../images/box1-tail.gif) 0 bottom repeat-x;}
.box1 .tail-left {background:url(../../images/box1-tail.gif) 0 0 repeat-y;}
.box1 .corner-top-left {background:url(../../images/box1-corner-top-left.gif) 0 0 no-repeat;}
.box1 .corner-top-right {background:url(../../images/box1-corner-top-right.gif) right 0 no-repeat;}
.box1 .corner-bot-right {background:url(../../images/box1-corner-bot-right.gif) right bottom no-repeat;}
.box1 .corner-bot-left {width:100%; background:url(../../images/box1-corner-bot-left.gif) 0 bottom no-repeat;}
.box1 .padding-box {padding:5px 21px 5px 21px;}



h3 {font-size:2.25em; line-height:1.111em; text-transform:uppercase; margin:0px 0 20px; font-weight:normal; color:#000;padding:15px 0;clear:both;}
.head {padding-bottom:6px; width:100%; text-transform:none; background:url(../../images/tail-head2.gif) 0 bottom repeat-x; margin-bottom:5px;}
.head2 {padding-bottom:6px; width:100%; text-transform:none; background:url(../../images/tail-head.gif) 0 bottom repeat-x; margin-bottom:25px; text-align:left;}
.head3 {padding-bottom:6px; width:100%; text-transform:none; float:left; background:url(../../images/tail-head.gif) 0 bottom repeat-x; margin-bottom:35px;}

h4 {font-size:1.25em; line-height:1.111em; text-transform:uppercase; margin:0px 0 6px; font-weight:normal; color:#757070;padding:15px 0;clear:both;}
.cad {padding-bottom:6px; width:100%; text-transform:none; background:url(../../images/tail-head.gif) 0 bottom repeat-x; text-align:left;}

.title-1 {padding-bottom:82px; text-align:center; margin-bottom:9px; background:url(../../images/eyes.png) center bottom no-repeat;}


.title-2 {padding-bottom:82px; text-align:center; margin-bottom:9px; background:url(../../images/pic-2.gif) center bottom no-repeat;}
.title-3 {padding-bottom:82px; text-align:center; margin-bottom:9px; background:url(../../images/coffee_mug.png) center bottom no-repeat;}

.button {display:inline-block; font-size:1.583em; line-height:1.2em; color:#fff; background:url(../../images/active-tail.gif) 0 0 repeat-x;}
.button strong {display:inline-block; cursor:pointer; background:url(../../images/active-left.gif) 0 0 no-repeat;}
.button strong strong {padding:6px 22px 8px; background:url(../../images/active-right.gif) right 0 no-repeat ;}
.button:hover {color:#ca2002;}


.border-bot {width:100%; padding-bottom:20px; background:url(../../images/pics.gif) 0 bottom repeat-x;}
.box-mini {float:left; width:36px; height:28px; text-align:center; font-size:0.833em; line-height:1em; color:#fff; padding:3px 0 0; margin-right:12px; background:url(../../images/box-mini.gif) 0 0 no-repeat;}
.box-mini span {font-size:1.1em;}
.text-box {overflow:auto;}

.spacer {width:100%; background:url(../../images/spacer.gif) 538px 0 repeat-y;}


.list-1 li {font-size:1em; line-height:2.25em; padding-left:13px; background:url(../../images/marker-1.gif) 0 11px no-repeat;}
.list-1 li a:hover {text-decoration:none;}


.link-1 {padding-left:12px; background:url(../../images/marker-1.gif) 0 6px no-repeat;}

.text-1 {line-height:1.583em;} 
.text-2 {line-height:1.5em;} 

.name {font-size:1.384em; color:#000;}
.img-poz {position:relative;}

.banners a {float:left;}
.banners a img {float:left;}
.banners .spacing {margin-right:19px;}
.banners .padding {padding:38px 26px 38px 30px;}


.info span {float:left; width:76px;}

.info2 {line-height:1.5em;}
.info2 dt {padding-bottom:5px;}
.info2 strong {color:#000;}
.info2 span {float:left; width:135px;}
.info2 dd {overflow:hidden;}
.info2 b {font-weight:normal;}
.info2 a {float:right;}

#form-main .column-1 {width:308px;}
#form-main .column-2 {width:312px;}

#form-main label {display:block; height:33px;}

#form-main input,#form-Login input {width:260px; margin-left:10px; font-size:1em; color:#757070; padding:3px 5px; font-family:Georgia, "Times New Roman", Times, serif; border-top:1px solid #303030; border-left:1px solid #585858; border-right:1px solid #cecece; border-bottom:1px solid #e1e1e1; background:none;margin-top:-4px;}
#form-main textarea,#form-Login textarea {height:122px; overflow:auto; width:302px; font-size:1em; color:#757070; padding:3px 5px; font-family:Georgia, "Times New Roman", Times, serif; border-top:1px solid #303030; border-left:1px solid #585858; border-right:1px solid #cecece; border-bottom:1px solid #e1e1e1; background:none;}

.buttons {padding-top:16px; text-align:right;}
.buttons a {margin-left:25px;}

/****************************footer************************/
.bottom {width:100%; background:url(../../images/tail-bot.gif) 0 0 repeat-x #000;}
#footer {width:100%; color:#595858; }
#footer a:hover {color:#fff;}

#footer .padding {padding:4px 35px 0px 36px;} 

.link-bot1 {float:left; color:#bbb; padding-right:30px; margin:5px 25px 0 0; background:url(../../images/pic-4.gif) right 0 no-repeat;}
.link-bot2 {float:left; color:#bbb; padding-right:30px; margin:5px 0px 0 0; background:url(../../images/pic-5.gif) right 0 no-repeat;}

.text-bot {float:left; text-transform:uppercase; color:#c9c9c9;}

.menu-bot {float:right;}
.menu-bot li {float:left; font-size:1em; line-height:1.5em; color:#595858; padding-left:10px;}
.menu-bot li a {color:#595858; padding-left:9px;}
#footer .menu-bot li a:hover, #footer .menu-bot li .active {color:#fff; text-decoration:underline;}




.esquerda
{
    float:left;
    margin-bottom:1px;
    width:50%;
    clear:both;
}

.esquerdaEndereco
{
    float:left;
    margin-bottom:1px;
    width:50%;
    height:500px;
}

.direita
{
    float:right;
    margin:auto;
    width:50%;
    padding-bottom:5px;
}

.internaEsquerda
{
    float:left;
    margin-bottom:1px;
    width:50%;
}

.internaDireita
{
    float:right;
    margin:auto;
    width:50%;
}

.numero
{
    float:right;
    padding-top:20px;
}

.baixo
{
    width:100%;
    margin:auto;    
}

.radio
{
    margin-left:10px;
    width:10px !important;
}

.titulo
{
    height:30px;
    padding:10px 0 20px 0;
}

#enviar
{
    margin-left:680px;
}

.checkbox
{
    margin-left:10px;
    width:10px !important;
    height:10px;
}

.alignleft
{
    text-align:left;
}

button
{
    color:#DB301E;
    outline:medium none;
    border:0;
    cursor: pointer;
    cursor:hand;
}

.textoFoto
{
    width:100%;
    height:300px;
}

.foto
{
    width:40%;
    margin-left:10px;
    float:left;
}

.texto
{
    width:50%;
    float:right;
}

/* forms */
select.select {width:310px;height:26px;color:#343434;margin:0 0 10px 0;font:bold 11px Tahoma,Helvetica,sans-serif;padding:5px 5px 5px 15px;}
select.select:focus, select.select:active {outline:none;}
select.select optgroup {padding: 5px 0;font-weight:bold;text-indent:15px;}
select.select option {padding: 5px 15px;font-weight:normal;}
select.select optgroup option {text-indent:10px;}
div.select {width:300px;display:block;height:30px;color:#343434;font:bold 11px Tahoma,Helvetica,sans-serif;text-shadow:#fff 1px 1px 0px;text-decoration:none;margin:0 0 10px 10px;padding-left:0px;background:url("../images/select.png") top right no-repeat;}
div.select  span {float:left;margin:0 10px 0 -10px;padding-left:20px;line-height:30px;position:relative;background:url("../images/select.png") top left no-repeat;}
.select-box {/*display: none;max-height:100px;*/position: relative; width: 278px; background: #fff; z-index:99999;}
.select-box .default {padding: 5px 7px; border: 1px solid #d9d9d9; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px;}
.select-box ul {display: none; margin:-10px 0 0 !important; padding: 0 !important; overflow: auto; position:absolute; z-index:9999;}
.select-box ul li {padding: 5px 20px;position:relative;z-index: 1000; cursor: pointer; margin: 0 !important; list-style-type: none !important; border: 1px solid #d9d9d9; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #fff }
.select-box ul li.group {font-weight:bold;}
.select-box ul li.ingroup {padding-left:30px;}
.select-box ul li.auto-focus {background: #4173CC;color: #fff;}
.select-box ul li.selected {background: #d9d9d9 !important;color:#2e2e2e;}
input.inputtext {width:96%;display:inline-block;height:22px;padding:3px 5px;margin-bottom:10px;vertical-align: middle;border:1px solid #d9d9d9;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background:url("../images/input-bg.png") top left repeat-x;}
input.inputtext:focus, .sb-box .bcont form textarea:focus {border:1px solid #acacac;}
input.inputtext.micro {width:50px;}
input.inputtext.tiny {width:100px;}
input.inputtext.small {width:200px;}
input.inputtext.medium {width:298px; margin-left:10px;}
input.inputtext.big {width:400px;}
.sb-box .bcont label {display:inline-block;font-size: 12px;font-weight: bold;color: #555;margin:0 10px 0 0;vertical-align: middle;}
.sb-box .bcont form p {padding-bottom:15px;clear:both;}
.sb-box .bcont form p input.inputtext {margin-bottom:0;}
.sb-box .bcont form textarea {width: 98%;height: 140px;padding: 5px;margin:0;display:block;border:1px solid #d9d9d9;font-size: 14px;color: #333;background:url("../images/input-bg.png") top left repeat-x;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;outline: none;}
.sb-box .bcont form textarea.resizable {-moz-border-radius:3px 3px 0px 0px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.sb-box .bcont form textarea.wysiwyg {width: 96%;}
.sb-box .bcont form input.radio, .sb-box .bcont form input.checkbox {vertical-align: middle;}
.sb-box .bcont form .note {padding-left: 10px;font-size: 11px;font-weight: bold;color: #757575;vertical-align: middle;}
.sb-box .bcont form .note.error {color: #e3302c;}
.sb-box .bcont form .note.loading {background:url('../images/ajax-loader.gif') 10px 50% no-repeat;padding-left:30px;display:inline-block;}
.sb-box .bcont form hr {height: 1px;border: 0;background: none;border-bottom: 1px solid #ddd;margin-bottom: 15px;}

/* message styles */
.message {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:6px 10px 10px 45px;position:relative;margin:0 0 15px 0;cursor:pointer;}
.message span {display:block;font-weight:bold;padding:0 0 4px;}
#gratis {font-weight:normal;padding:0 0 4px;}
.message.success {color:#1c8400;border:#b4e8aa solid 1px;background:#e9f9e5 url("../../images/onebit-icons/success.png") 10px 50% no-repeat;}
.message.warning {color:#828400;border:#e8e3aa solid 1px;background:#f9f9e5 url("../../images/onebit-icons/warning.png") 10px 50% no-repeat;}
.message.error {color:#b50007;border:#e8aaad solid 1px;background:#f9e5e6 url("../../images/onebit-icons/error.png") 10px 50% no-repeat;}
.message.information {color:#0055b5;border:#aac6e8 solid 1px;background:#e5ecf9 url("../../images/onebit-icons/info.png") 10px 50% no-repeat;}
.message.tip {border:1px solid #fdd845;background:#fff6bf url("../../images/onebit-icons/tip.png") 10px 50% no-repeat;}

.planos
{
    border: 1px solid #ccc;
    width:250px;
    height:100px;
    margin: 10px 10px;
    float:left;
    display:block;
    padding:10px;
}

.planos p
{
    font-size:15px;
}

.planos b
{
    font-size:16px;
    color:#F24C4C;
}

.cadastre-se
{
    width:100%;
    clear:both;
}

#slider1 {
    width: 1020px; /* important to be same as image width */
    height: 300px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
	margin:0 0 15px 5px
}

#slider1Content {
    width: 1020px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 5px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 17px;
}
.slider1Image span p {
    font-size:13px;
}

.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 280px;
}
.right {
	right: 0;
	bottom: 0;
	width: 125px !important;
	height: 290px;
}
.bottomBox {
	bottom: 0;
    left: 0;
    height:65px;
    width:994px !important;
    padding: 0 10px;
}
ul { list-style-type: none;}

li.odd {
    float: right;
    clear: none;
    display: block;
    height: 35px;
    padding: 3px 0;
    width: 307px;   
    margin-bottom: 0px; 
}

li.odd b 
{
	font-size:11px;
}

li.even b 
{
	font-size:11px;
}

li.even {
    clear: none;
    display: block;
    float: left;
    height: 35px;
    padding: 3px 0;
    width: 307px;
    margin-bottom: 0px;
}

.menuFlash
{
    margin-top: 60px;
    height:75px;
}

.contentImgs
{
    width:100%;
}

.botoesFlash
{
    float:left;
    width:740px;
    height:50px;
    margin-top:15px;
    text-align:center;
    margin-left: 180px;
    *margin-top:25px;
    _margin-left: 80px;
}

.botoesFlash a, .botoesFlash span
{
    display:block;
    background: url('../../images/menu_botoes.jpg');
    float:left;
}

.botoesFlash a.homeMenu, .botoesFlash span.homeMenu
{
    width:86px;
    height:39px;
    background: url('../../images/menu_home.jpg');
    background-position: 0 53px;
}

.botoesFlash a.homeMenu:hover, .botoesFlash span.homeMenu.selected
{
    background: url('../../images/menu_home.jpg');
}

.botoesFlash a.empresaMenu, .botoesFlash span.empresaMenu
{
    width:90px;
    height:38px;
    background-position: 0 88px;
}

.botoesFlash a.empresaMenu:hover, .botoesFlash span.empresaMenu.selected
{
    background-position: 0 49px;
}

.botoesFlash a.sistemaMenu, .botoesFlash span.sistemaMenu
{
    width:80px;
    height:38px;
    background-position: 0 224px;
}

.botoesFlash a.sistemaMenu:hover, .botoesFlash span.sistemaMenu.selected
{
    background-position: 0 -76px;
}

.botoesFlash a.planosMenu, .botoesFlash span.planosMenu
{
    height:38px;
    width:75px;
    background-position: 0 262px;
}

.botoesFlash a.planosMenu:hover, .botoesFlash span.planosMenu.selected
{
    background-position: 0 -38px;
}

.botoesFlash a.direitosMenu, .botoesFlash span.direitosMenu
{
    height:38px;
    width:85px;
    background-position: 0 186px;
}

.botoesFlash a.direitosMenu:hover, .botoesFlash span.direitosMenu.selected
{
    background-position: 0 -114px;
}

.botoesFlash a.deveresMenu, .botoesFlash span.deveresMenu
{
    height:38px;
    width:80px;
    background-position: 0 148px;
}

.botoesFlash a.deveresMenu:hover, .botoesFlash span.deveresMenu.selected
{
    background-position: 0 -153px;
}

.botoesFlash a.servicosMenu, .botoesFlash span.servicosMenu
{
    height:38px;
    width:87px;
    background-position: 0 118px;
}

.botoesFlash a.servicosMenu:hover, .botoesFlash span.servicosMenu.selected
{
    background-position: 0 -190px;
}

.botoesFlash a.cadastroMenu, .botoesFlash span.cadastroMenu
{
    height:38px;
    width:90px;
    background-position: 0 299px;
}

.botoesFlash a.cadastroMenu:hover, .botoesFlash span.cadastroMenu.selected
{
    background-position: 0 0;
}

.logoFlash
{
    float:left;
    width:362px;
    height:82px;
    background: url("../../images/tail-top.gif") repeat-x scroll 0 0 #E2E2E2;
}

.30dias
{
    float:right;
    width:362px;
    height:72px;
}

#loggin
{
    float:left;
    width:218px;
    margin-top:4px;
}

#loggin #form-Login
{
    width:218px;
    margin-right:7px;
    float:left;
}

.divErroLogin
{
    display:none;
}


/* ie 6_7 hack */

.topoHead
{
    margin: 0 auto;
    width: 985px;
    *width: 999px;
}

.logoFlash img
{
    _margin-top:11px;    
}
.linkEmpresa
{
    background: url("../../images/marker-1.gif") no-repeat scroll 0 5px transparent;
    font-size: 1em;
    line-height: 2.25em;
    padding-left: 13px;
}