<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
    <!--<add name="EDomesticoContainer" connectionString="metadata=res://*/Entities.EDomesticoModel.csdl|res://*/Entities.EDomesticoModel.ssdl|res://*/Entities.EDomesticoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRONMAN\SQL2008;Initial Catalog=EDomestico;User ID=sa; Password=ironman;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->    
     <!--<add name="EDomesticoContainer" connectionString="metadata=res://*/Entities.EDomesticoModel.csdl|res://*/Entities.EDomesticoModel.ssdl|res://*/Entities.EDomesticoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WS-DEV-02\SQLEXPRESS;initial catalog=EDomestico;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="EDomesticoContainer" connectionString="metadata=res://*/Entities.EDomesticoModel.csdl|res://*/Entities.EDomesticoModel.ssdl|res://*/Entities.EDomesticoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IRONMAN\SQL2008;Initial Catalog=EDomestico;Persist Security Info=True;User ID=sa;Password=ironman;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->        
<!--    <add name="EDomesticoContainer" connectionString="metadata=res://*/Entities.EDomesticoModel.csdl|res://*/Entities.EDomesticoModel.ssdl|res://*/Entities.EDomesticoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PALM.arvixe.com;Initial Catalog=edomestico_test;Persist Security Info=True;User ID=edomestico_test;Password=Infosys;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    

    
  </connectionStrings>
	<appSettings>
		<add key="AliquotaFGTS" value="0,08" />
		<add key="EmailCobrancaPagSeguro" value="eggarcia@sdsn.net" />
		<add key="TokenPagSeguro" value="22AB534687AB41BBA3D129B02E37EE9C" />
		<add key="EmailBackOffice" value="backoffice@edomestico.com.br" />
		<add key="SenhaBackOffice" value="4dm1nb4ck0ff1c3eD0m3st1c000" />
    <add key="ValorFixoPorDependente" value="164,56" />
    <add key="DiasDeTeste" value="30" />
    <add key="Dominio" value="http://www.edomestico.com.br" />
    <add key="Email_Para" value="andresites@hotmail.com" />
    <add key="Email_De" value="noreply@edomestico.com.br" />
    <add key="Senha_Email_De" value="Ppp123" />
    <add key="Testetom" value="andresites@hotmail.com" />
    <add key="Smtp" value="mail.edomestico.com.br" />
  </appSettings>
	
	<system.web>
    <httpRuntime requestValidationMode="2.0" />

    <globalization culture="pt-BR" uiCulture="pt-BR" />   
    <customErrors mode="Off" />
		


	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />

        <httpProtocol>

        </httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

